@import url('https://fonts.googleapis.com/css?family=open+Sans');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container h1 {
    text-decoration: underline;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #222;
    padding-bottom: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
}

.nav .container {
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 20px 0;

}

.nav ul {
    display: flex;
    list-style: none;
    justify-content: center;

}

.nav a {
    color: #fff;
    background: var(--secondary-color);
    text-decoration: none;
    padding: 10px 15px;

}

.nav a:hover {

    color: #d3820f;


}


.hero {
    height: 100vh;
    width: 100vw;
    background-image: url(./newwwwwwww.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}


.hero h1 {
    font-size: 30px;
    margin: -20px 0 20px;

}

.hero p {
    font: size 0px; ;
}



.about-section {
    padding: 150px 0;
    background: var(--light-pink-color);

}

.about-section .section-contect {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

}

.about-section .about-image-warpper .about-image {
    width: 400px;
    height: 400px;
    object-fit: cover;



    border-radius: 10px;
    display: flex;
    margin-top: 10px;
    padding: 20px;
    border-radius: 60px;





}


.cofee-menu {
    width: 90%;
    margin: auto;
    text-align: center;

}

.cofee-menu h1 {
    margin-top: 20px;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
}

.card {
    background:  #6c4003;
    border-radius: 20px;
    padding: 10px;

}

.card img {
    width: 180px;
    height: 180px;
    object-fit: contain;
    padding: 10px;
    align-items: center;
    border-radius: 19px;

}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

}

.info h3 {
    color: white;

}

.info span {
    color: white;
    font-size: 20px;
    font-weight: bold;


}

.botton {
    margin-top: 15px;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}



.info :hover {
    color: rgb(60, 255, 0);
}

.cofee-menu :hover {
    color: darkorchid;

}

.card img:hover {
    background: rgb(255, 255, 255);
    padding: 11px;
    border-radius: 10px;

}


.about {
    text-align: center;
    margin: 30px;
    text-decoration:underline ;

}

.about :hover {
    color: #d3820f;
}


.Mession {

    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}


.Mession h3:hover {
    color: #d18317;
    
}

.box {
    padding: 40px;
    margin: 10px;


}


.blue {
    background: skyblue;
    color: black;



}

.bg {
    background: url(./post.jpeg);
    color: #ffffff;


}


.box h3 {
    text-decoration: underline;
}

.white {
    background: skyblue;
}

.box h3 {
    margin-top: 15px;
    text-transform: uppercase;
}

.box p {
    line-height: 1.7;
}


.my-team {
    width: 90%;
    margin: auto;
    padding: 50px 0;
    text-align: center;
}

.top {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;

}

.team h1 {
    font-size: 45px;
    margin: 10px 0 40px;

}

.team {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;

}

.person {
    width: 23%;
    text-align: center;


}

.person img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ccc;

}

.person h2 {
    margin: 15px 0 5px;
    font-size: 25px;

}

.person h4 {
    font-size: 18px;
    color: #555;
    line-height: 1.6;

}

.person :hover{
    color: #df8b04;
}

.contact h2{
    text-align: center;

}
.contact input,
.contact textarea{
width:70%;
padding:12px;
margin:10px;
border:1px solid #ccc;
border-radius:5px;
}

.contact textarea{
height:120px;
}

.contact button{
padding:12px 30px;
background:#0d6efd;
color:white;
border:none;
border-radius:5px;
}

.grid{
grid-template-columns:1fr;
}

.contact input,.contact textarea{
width: 95%;
}

.contact,button{
    text-align: center;
}


footer{

background:#805c09;
color:white;
text-align:center;
padding:36px;
margin-top:30px;
} 
